@import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons";
*, *:before, *:after {
  outline: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  width: 100vw;
  height: auto; }

body {
  margin: 0;
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  background: #e4e4e4;
  font-family: "Nunito Sans", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #355070;
  scroll-behavior: smooth;
  /* Un peu de douceur dans ce monde de brute */ }

#grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

section {
  width: 100%; }
  section:nth-of-type(2n) {
    background-color: #38353A;
    color: #355070; }

p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400; }

address {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400; }

a {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400;
  color: #fdfdfd;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #f2d0a9; }

h1 {
  font-family: "Spectral", Georgia, serif;
  font-size: 2.5em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 800;
  color: #355070; }

h2 {
  font-family: "Spectral", Georgia, serif;
  font-size: 2.2em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fdfdfd; }

h3 {
  font-family: "Spectral", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700; }

h4 {
  font-family: "Spectral", Georgia, serif; }

.mainHeader {
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 9999;
  padding: 1em 0;
  background: transparent; }
  .mainHeader__title {
    color: #355070;
    font-size: 3.5em;
    letter-spacing: .5em;
    line-height: 1em; }
    .mainHeader__title--subtitle {
      font-size: 30%;
      font-weight: 500;
      text-transform: none;
      letter-spacing: .3em;
      color: #514E53; }

.footer {
  background: #757575;
  color: #fdfdfd;
  padding: 6em 4em; }
  .footer__content {
    display: flex; }
  .footer__list {
    list-style: none;
    padding-left: 0;
    margin-right: 6em; }

/* ********************

Diaporama

******************** */
.diaporama {
  position: relative;
  height: 110vh;
  margin: 0 auto; }
  .diaporama .diaporama__slide {
    display: inline-block;
    height: 110vh;
    position: absolute;
    min-width: 100%;
    max-width: 1200px;
    margin: 0;
    transition: all 2s; }
  .diaporama .diaporama__slide + figure {
    opacity: 0; }

.diaporama__slide h2 {
  color: #355070; }

.diaporama__slide:nth-of-type(1n) {
  background-color: #00EAB5; }

.diaporama__slide:nth-of-type(2n) {
  background: #f2d0a9; }

.diaporama__slide:nth-of-type(3n) {
  background: #ffa3a5;
  /* color: #FCE4EC; */ }

.diaporama__slide:nth-of-type(4n) {
  background: #d9dbf1;
  /* color: #FCE4EC; */ }

/*# sourceMappingURL=main.css.map */
