@charset "utf-8";

@import 'partials/share';
@import 'partials/layout'; 
@import 'partials/typography';
@import 'partials/slider';
@import 'partials/map';



html {
    width: 100vw;
    height: auto;
}


/* ********************* 
        Section
********************** */

section {
	width: 100%;

    &:nth-of-type(2n) {
        background-color: #38353A;
        color: $text-color;
    }

    header {
        background:#757575;
        padding-left: 4em;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
	    color: $text-color;
    }
}
