@import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons";
*, *:before, *:after {
  outline: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  width: 100vw;
  height: auto; }

body {
  margin: 0;
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  background: #e4e4e4;
  font-family: "Nunito Sans", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #355070;
  scroll-behavior: smooth;
  /* Un peu de douceur dans ce monde de brute */ }

#grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

section {
  width: 100%; }
  section:nth-of-type(2n) {
    background-color: #38353A;
    color: #355070; }

p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400; }

address {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400; }

a {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400;
  color: #fdfdfd;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #f2d0a9; }

h1 {
  font-family: "Spectral", Georgia, serif;
  font-size: 2.5em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 800;
  color: #355070; }

h2 {
  font-family: "Spectral", Georgia, serif;
  font-size: 2.2em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fdfdfd; }

h3 {
  font-family: "Spectral", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700; }

h4 {
  font-family: "Spectral", Georgia, serif; }

.mainHeader {
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 9999;
  padding: 1em 0;
  background: transparent; }
  .mainHeader__title {
    color: #355070;
    font-size: 3.5em;
    letter-spacing: .5em;
    line-height: 1em; }
    .mainHeader__title--subtitle {
      font-size: 30%;
      font-weight: 500;
      text-transform: none;
      letter-spacing: .3em;
      color: #514E53; }

/* ********************

Slideshow

******************** */
.diaporama {
  position: relative;
  height: 110vh;
  margin: 0 auto; }
  .diaporama .diaporama__slide {
    display: inline-block;
    height: 110vh;
    position: absolute;
    min-width: 100%;
    max-width: 1200px;
    margin: 0;
    transition: all 2s; }
    .diaporama .diaporama__slide h2 {
      color: #355070; }
    .diaporama .diaporama__slide img {
      /* display:block; */
      position: absolute;
      right: 0;
      /* width: 40%; */
      height: 100%; }
    .diaporama .diaporama__slide:nth-of-type(2n) img {
      height: 50%;
      top: 30%;
      right: 10%; }
    .diaporama .diaporama__slide:nth-of-type(4n) img {
      height: 40%;
      right: 20%;
      top: 35%; }
    .diaporama .diaporama__slide + figure {
      opacity: 0; }
  .diaporama .diaporama__figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    width: 40%;
    height: 100%;
    font-size: 120%; }
    .diaporama .diaporama__figcaption h2, .diaporama .diaporama__figcaption p {
      z-index: 2; }
  .diaporama #arrowLeft, .diaporama #arrowRight {
    position: absolute;
    z-index: 2;
    top: 50%;
    cursor: pointer; }
  .diaporama #arrowLeft {
    left: 2.5em; }
  .diaporama #arrowRight {
    right: 1em; }
  .diaporama #arrowLeft > .arrow-left {
    height: 30px;
    width: 30px;
    border-top: 5px solid #454545;
    border-right: 5px solid #454545;
    -webkit-transform: translate(-20%, -50%) rotate(225deg);
    -ms-transform: translate(-20%, -50%) rotate(225deg);
    -o-transform: translate(-20%, -50%) rotate(225deg);
    transform: translate(-20%, -50%) rotate(225deg); }
  .diaporama #arrowRight > .arrow-right {
    height: 30px;
    width: 30px;
    border-top: 5px solid #454545;
    border-right: 5px solid #454545;
    -webkit-transform: translate(-70%, -50%) rotate(45deg);
    -ms-transform: translate(-70%, -50%) rotate(45deg);
    -o-transform: translate(-70%, -50%) rotate(45deg);
    transform: translate(-70%, -50%) rotate(45deg); }
  .diaporama #control {
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 47%; }
  .diaporama #pauseSlide {
    background: transparent;
    padding: 0;
    border: none; }
  .diaporama img.arrow_down, .diaporama #pauseSlide {
    display: inline-block;
    /* width: 30px; */
    cursor: pointer; }
  .diaporama button.controls > span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0; }

.diaporama__slide:nth-of-type(1n) {
  background-color: #00EAB5; }

.diaporama__slide:nth-of-type(2n) {
  background: #f2d0a9; }

.diaporama__slide:nth-of-type(3n) {
  background: #ffa3a5;
  /* color: #FCE4EC; */ }

.diaporama__slide:nth-of-type(4n) {
  background: #d9dbf1;
  /* color: #FCE4EC; */ }

.footer {
  background: #757575;
  color: #fdfdfd;
  padding: 6em 4em; }
  .footer__content {
    display: flex; }
  .footer__list {
    list-style: none;
    padding-left: 0;
    margin-right: 6em; }

/*# sourceMappingURL=main.css.map */
