@charset "utf-8";

$text-color: #355070;
$main-font-size: 1.2em;

html {
    width: 100vw;
    height: auto;
}

/* ********************
 Typographie
 ******************** */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
body {
    font-family: 'Nunito Sans', Verdana, sans-serif;
    background:#e4e4e4;
    scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brute */
}
h1, h2, h3, h4 {
    font-family: 'Spectral', Georgia, serif;
}
p, a, address {
    line-height:1.6em;font-weight:400;
}
p, a, address, h3 {
   font-size:$main-font-size;
}

a {
    color:#fdfdfd;
    text-decoration: underline;
        &:hover {
            text-decoration: none;
            color:rgb(242, 208, 169);
        }
}

 
 h1 {font-size:2.5em;line-height:1.4em;text-transform:uppercase;font-weight:800;color:$text-color;}
 h2 {font-size:2.2em;line-height:1.4em;text-transform:uppercase;font-weight:500;color:#fdfdfd;}
 h3 {line-height:1.4em;font-weight:700;}




/* ********************* 
        Section
********************** */

section {
	width: 100%;

    &:nth-of-type(2n) {
        background-color: #38353A;
        color: #355070;
    }

    header {
        background:#757575;
        padding-left: 4em;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
	    color: $text-color;
    }
}

