@charset "utf-8";

abbr {
    font-size: .8em;
    vertical-align: top;
    color: red;
    cursor: pointer;
}
canvas {
  cursor: crosshair;
  border: 1px dotted #fff;
  border-bottom: 3px solid #fff;
}
/* #sketch {
  width:350px;
  height:150px;
  border: 1px solid #fff;
} */

#buttonReserv {padding-left:1em;}
#buttonReserv button, #buttonValid button, #buttonClear button, #buttonCancel button {
    /* display: inline-block; */
    color:#454545;
    padding: 1em 2em;
    border: 2px solid #454545;
    cursor: pointer;
    font-weight: bold;
    background: #00EAB5;
}
#buttonReserv button:hover, #buttonValid button:hover, #buttonClear button:hover, #buttonCancel button:hover {
    border: 2px solid #eee;
}
#errorReserv, #missingInfo {
  width: 80%;
  font-size: .9em;
  border-left: 5px solid rgb(241, 94, 94);
  padding-left: 1em;
  margin: 2em 0 2em 1em;
}
#reservationValide {
  width: 80%;
  font-size: .9em;
  border-left: 5px solid #9700f1;
  padding-left: 1em;
  margin: 2em 0 2em 0;
}
#reservationTimer {
  color:#9700f1;
  font-weight: bold;
}
#stationReservation {
  color:#9700f1;
}

 /***************

 RESPONSIVE

 ****************/
 /* Smartphone */
 @media (max-width: 30em) {
   #mainHeader h1 {
    font-size: 2em;
    letter-spacing: .1em;
    line-height: 1.2em;
   }
   #mainHeader h1 span {
    font-size: 35%;
    letter-spacing: .1em;
  }
  #diaporama, #diaporama figure {
    height: 100vh;
  }
  #diaporama figcaption {
    width: 70%;
    font-size: 100%;
    padding-top: 3em;
   }
   #slide1 img {
    opacity: .5;
   }
   #slide4 img {
    display:none;
   }
 	p, address, a {font-size:1em;}
 	h1 {font-size:2em;line-height: 1em;}
  h1 span {font-size:60%;}
 	h2 {font-size:1.4em;}
 	h3 {font-size:1.4em;}
  section header {
    padding-left: 1em;
  }
  #arrowRight {
    right: 1em;
  }
  #arrowLeft {
    left: 1.2em;
  }
  #arrowRight > .arrow-right, #arrowLeft > .arrow-left {
    height: 15px;
    width: 15px;
    border-top: 4px solid #454545;
    border-right: 4px solid #454545;
  }
  #control {
    top: 90%;
    left: 40%;
  }
  img.arrow_down, #pauseSlideImg {
      width:30px
  }
  #cartographie article {
    flex-direction:column;
    overflow-x: hidden;
  }
  #map {
    width:100%;
  }
  #infoStation {
    width:100%;
    padding: 2em 0 2em 2em;
  }
  #infoStation h2 {
    margin-left: 0;
    font-size:1.8em;
  }
  #listeInfo {
    padding-left: 0;
    padding-right: 2em;
    font-size:80%;
  }
  #infoBeforeBooking {
    margin: 2em 5em 2em 0;
  }
  #buttonReserv {
    padding-left: 0;
  }
  input[type="text"] {
    width: 200px;
  }
  #sketch {
    width: 210px;
  }
  #reservationBlock {
    padding-left: 0;
  }
  footer {
    padding: 2em;
  }
  footer article {
    flex-direction: column;
  }
  footer ul {
    margin-right: 1em;
  }
} /* Fin Smartphone */

/* Tablettes et écrans moyens */
@media screen and (min-width: 30em) and (max-width: 48em) {
  #mainHeader h1 span {display: none;}
  #diaporama, #diaporama figure {
    height: 130vh;
  }
  #diaporama figcaption {
    width: 50%;
    font-size: 100%;
    left: 11%;
   }
  section header {
    padding-left: 5em;
  }
  #cartographie article {
    flex-direction:column;
    overflow-x: hidden;
  }
  #map {
    width: 100%;
  }
  #infoStation {
    width:100%;
  }
  #infoStation h2 {
    text-align: left;
    margin: .4em;
  }
  #listeInfo {
    padding-left: 1em;
  }
  footer {
    padding: 5em;
  }
  footer article {
    flex-direction: column;
  }
  footer ul {
    margin-right: 1em;
  }
}

/* Ecrans ordinaires à grands (HD) */
@media screen and (min-width: 48em) and (max-width: 71.25em) {
  #mainHeader h1 {font-size:3em;}
  #diaporama figcaption {
    width: 40%;
    height: 110%;
   }
  #diaporama, #diaporama figure {height: 110vh;}
  #diaporama figure img {opacity: .7;}
  p, address, a {font-size: 1em;}
  h2 {font-size:1.8em;}
  #infoStation {width:30%;}
}

@media screen and (orientation: portrait) {
  #cartographie article {
    flex-direction:column;
    overflow-x: hidden;
  }
  #map {
    width: 100%;
  }
  #infoStation {
    width:100%;
  }
}

/* Grands écrans */
@media screen and (min-width: 2560px) and (orientation: landscape) {
  h2 {font-size:4em;}
  #mainHeader h1 {
    font-size: 6em;
  }
  p {font-size:2em;}
  #infoStation h2 {
    margin-left: .5em;
    margin-bottom: 1.5em;
    font-size: 3.5em;
  }
  #listeInfo li {
    font-size: 1.6em;
    margin: 2em 0;
  }
  #buttonReserv button, #buttonValid button, #buttonClear button, #buttonCancel button {
    padding: .8em 1.6em;
    font-size: 1.6em;
  }
  #reservationBlock {
    max-width: 90%;
  }
  input[type="text"] {
    width: 80%;
    padding: .6em;
    font-size: 1.4em;
  }
  footer li {font-size:2em;}
  footer a {font-size:1em;}
}


/* Print */
@media print {

}
