/* ********************

Map, station and reservation

******************** */
.map {
    display:flex;
    
    @media (max-width: 30em) {
        flex-direction:column;
        overflow-x: hidden;
    }
    
    @media screen and (min-width: 30em) and (max-width: 48em) {
        flex-direction:column;
        overflow-x: hidden;
    }

    @media screen and (orientation: portrait) {
        flex-direction:column;
        overflow-x: hidden;
    }

    @media print and (orientation: portrait) {
        flex-direction:column;
        overflow-x: hidden;
    }
    
    &__embed {
        width: 75%;
        min-height: 80vh;
        
        @media (max-width: 30em) {
            width: 100%;
        }
        
        @media screen and (min-width: 30em) and (max-width: 48em) {
            width: 100%;
        }

        @media screen and (orientation: portrait) {
            width: 100%;
        }

        @media print and (orientation: portrait) {
            width:100%;
            min-height: 60vh;
        }
    }
    
    &__info { // Station information
        width: 30%;
        background-color: $background-color;
        color: $text-color;
        padding: 1em;
        /* display: none; */
        flex-direction: column;
        justify-content: flex-start;
        z-index:999;
        
        @media (max-width: 30em) {
            width:100%;
            min-height: 40vh;
            padding: 2em 0 2em 2em;
        }

        @media screen and (min-width: 30em) and (max-width: 48em) {
            width:100%;
        }

        @media screen and (orientation: portrait) {
            width:100%;
            min-height: 40vh;
        }

        @media screen and (min-width: 48em) and (max-width: 71.25em) and (orientation: landscape) {
            width:35%;
        }

        @media print and (orientation: portrait) {
            width:100%;
        }
        
        & h2 {
            margin-left: .5em;
            color: $text-color;
            padding-top: 0;
            
            @media (max-width: 30em) {
                margin-left: 0;
            }

            @media screen and (min-width: 30em) and (max-width: 48em) {
                text-align: left;
                margin: .4em;
            }

            @media screen and (min-width: 2560px) and (orientation: landscape) {
                  margin-left: .3em;
                  margin-bottom: 1.5em;
            }
        }
        
        & > p {
            margin: 2em 1.5em 1em .8em;
            
            @media (max-width: 30em) {
                margin: 2em 5em 2em 0;
            }
        }
    }
    
    &__station {
        list-style-type: none;
        margin: 1em 0;
        padding-left: 1em;
        
        @media (max-width: 30em) {
            padding-left: 0;
            padding-right: 2em;
            font-size:80%;
        }

        @media screen and (min-width: 30em) and (max-width: 48em) {
            padding-left: 1em;
        }
        
        & li {
            margin: 0.7em 0;

            @media screen and (min-width: 2560px) and (orientation: landscape) {
                margin: 2em 0;
            }
        }
        
        & li + li {
            margin-top: 0.7em;
        }
        
        & span {
            color: $station-color;
        }
    }
    
    &__reserv {
        padding-left: 1em;
        
        @media (max-width: 30em) {
            padding-left: 0;
        }

        @media screen and (min-width: 2560px) and (orientation: landscape) {
            max-width: 90%;
        }
        
        & h2 {
            margin-left: 0;
        }
    }
    
    // Form field, and rent a bike
    &__form {
        display: flex;
        flex-direction: column;
        
        .map__label {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap; /* added line */
            border: 0;
        }
    }
    
    &__input[type="text"] {
        width: 280px;
        border-bottom: 3px solid $border-color;
        background: $background-color;
        margin: 0 0 5px;
        padding: 10px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-size: .9em;
        font-weight: bold;
        color: $station-color;
        
        @media (max-width: 30em) {
            width: 200px;
        }

        @media screen and (min-width: 2560px) and (orientation: landscape) {
            width: 80%;
            padding: .6em;
            font-size: 1.4em;
        }
    }
    
    &__input[type="text"]:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border-bottom: 3px solid #fff;
    }
    
    &__input:required {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $border-color;
        box-shadow: none;
    }
}

abbr {
    font-size: .8em;
    vertical-align: top;
    color: $error-color;
    cursor: pointer;
}

canvas {
    cursor: crosshair;
    border: 1px dotted $border-color;
    border-bottom: 3px solid $border-color;
}

// To do : refactoring and optimize
#buttonReserv {
    padding-left:1em;
    
    @media (max-width: 30em) {
        padding-left: 0;
    }
}

#buttonReserv button, 
#buttonValid button, 
#buttonClear button, 
#buttonCancel button {
    color:$station-color;
    padding: 1em 2em;
    border: 2px solid $station-color;
    cursor: pointer;
    font-weight: bold;
    background: $background-color;

    @media screen and (min-width: 2560px) and (orientation: landscape) {
        padding: .8em 1.6em;
        font-size: 1.6em;
    }
}

#buttonReserv button:hover, 
#buttonValid button:hover, 
#buttonClear button:hover, 
#buttonCancel button:hover {
    border: 2px solid $border-color;
}

#errorReserv, 
#missingInfo {
    width: 80%;
    font-size: .9em;
    border-left: 5px solid $error-color;
    padding-left: 1em;
    margin: 2em 0 2em 1em;
}

#reservationValide {
    width: 80%;
    font-size: .9em;
    border-left: 5px solid $accent-color;
    padding-left: 1em;
    margin: 2em 0 2em 0;
}

#reservationTimer {
    color: $accent-color;
    font-weight: bold;
}

#stationReservation {
    color: $accent-color;
}