/* ********************

Slideshow

******************** */
.diaporama {
    position: relative;
    height: 110vh;
    margin: 0 auto;
    
    @media (max-width: 30em) {
        height: 100vh;
    }

    @media screen and (min-width: 48em) and (max-width: 71.25em) {
        height: 110vh;
    }
    
    .diaporama__slide {
        display:inline-block;
        height:110vh;
        position: absolute;
        min-width: 100%;
        max-width: 1200px;
        margin:0;
        transition: all 2s;
        
        @media (max-width: 30em) {
            height: 100vh;
        }

        @media screen and (min-width: 30em) and (max-width: 48em) {
            height: 130vh;
        }

        @media screen and (min-width: 48em) and (max-width: 71.25em) {
            height: 110vh;
        }
        
        & h2 {
            color: $text-color;
        }
        
        & img {
            /* display:block; */
            position: absolute;
            right: 0;
            /* width: 40%; */
            height: 100%;

            @media screen and (min-width: 48em) and (max-width: 71.25em) {
                opacity: .7;
            }
        }
        
        &:nth-of-type(4n) img {
            display: none;
        }
        
        &:nth-of-type(1n) img {
            @media (max-width: 30em) {
                opacity: 0.5;
            }
            @media screen and (min-width: 30em) and (max-width: 48em) {
                opacity: 0.7;
            }
        }
        
        & + figure {
            opacity: 0;
        }
    }
    
    // Figcaption of slide
    .diaporama__figcaption { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        width: 40%;
        height: 100%;
        font-size:120%;
        
        @media (max-width: 30em) {
            width: 70%;
            font-size: 100%;
            padding-top: 3em;
        }

        @media screen and (min-width: 30em) and (max-width: 48em) {
            width: 50%;
            font-size: 100%;
        }

        @media screen and (min-width: 48em) and (max-width: 71.25em) {
            width: 40%;
            height: 110%;
        }
        
        & h2, 
        & p {
            z-index:2;
        }
    }
    
    // Control slider
    #arrowLeft, #arrowRight {
        position: absolute;
        z-index: 2;
        top: 50%;
        cursor: pointer;
    }
    
    #arrowLeft {
        left: 2em;
        
        @media (max-width: 30em) {
            left: 1.2em;
        }
    }
    
    #arrowRight {
        right: 3em;
        
        @media (max-width: 30em) {
            right: 1em;
        }
    }
    
    #arrowLeft > .arrow-left {
        @include transformRotate(225deg);
    }
    
    #arrowRight > .arrow-right {
        @include transformRotate(45deg);
    }

    #arrowRight > .arrow-right,
    #arrowLeft > .arrow-left { // duplicate
        height: 30px;
        width: 30px;
        border-top: 5px solid $text-color; 
        border-right: 5px solid $text-color;
        
        @media (max-width: 30em) {
            height: 44px;
            width: 44px;
            border-top: 4px solid $text-color;
            border-right: 4px solid $text-color;
        }
    }
    
    #control {
        position: absolute;
        z-index: 2;
        top: 80%;
        left: 47%;
        
        @media (max-width: 30em) {
            top: 85%;
            left: 40%;
        }
    }
    
    #pauseSlide {
        background:transparent;
        padding:0;
        border:none;
    }
    
    img.arrow_down, 
    #pauseSlide {
        display: inline-block;
        cursor: pointer;
    }
    
    button.controls > span {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap; /* added line */
        border: 0;
    }
}

.diaporama__slide:nth-of-type(1n) {
    background-color: #00EAB5;
}

.diaporama__slide:nth-of-type(2n) {
    background: rgb(242, 208, 169);
}

.diaporama__slide:nth-of-type(3n) {
    background: rgb(255, 163, 165);
    /* color: #FCE4EC; */
}

.diaporama__slide:nth-of-type(4n) {
    background: rgb(217, 219, 241);
    /* color: #FCE4EC; */
}

