@charset "utf-8";

@import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons";


body {
    font-family: $font-family_2;
    font-size: 16px;
    line-height: 24px;
    color : $text-color;
}

p {
	font-size: 1.2em;
	line-height: 1.6em;
	font-weight: 400;
}

address {
	font-size: 1.2em;
	line-height: 1.6em;
	font-weight: 400;
}

a {
    font-size: 1.2em;
	line-height: 1.6em;
	font-weight: 400;
    color:#fdfdfd;
    text-decoration: underline;
        &:hover {
            text-decoration: none;
            color:rgb(242, 208, 169);
        }
}

h1 {
	font-family: $font-family_1;
	font-size: 2.5em;
	line-height: 1.4em;
	text-transform: uppercase;
	font-weight: 800;
	color:$text-color;
}

h2 {
	font-family: $font-family_1;
	font-size: 2.2em;
	line-height: 1.4em;
	text-transform: uppercase;
	font-weight: 500;
	color:#fdfdfd;
}

h3 {
	font-family: $font-family_1;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: 700;
}

h4 {
	font-family: $font-family_1;
}

