@font-face {
    font-family: 'Spectral';
	font-weight: 800;
    src: url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-extrabold.ttf') format('truetype'),
		url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-extrabold.woff') format('woff'),
		url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-extrabold.woff2') format('woff2')
}
@font-face {
    font-family: 'Spectral';
	font-weight: 700;
    src: url("https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-bold.ttf") format('truetype'),
		url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-bold.woff') format('woff'),
		url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-bold.woff2') format('woff2')
}
@font-face {
    font-family: 'Spectral';
	font-weight: 500;
    src: url("https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-medium.ttf") format('truetype'),
		url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-medium.woff') format('woff'),
		url('https://sebastiensenechal.github.io/cyclocation/public/fonts/spectral-medium.woff2') format('woff2')
}

body {
    font-family: $font-family-base;
	font-display: swap;
    font-size: 16px;
    line-height: 24px;
}

p,
a,
li,
address {
	font-size: 1.2em;
	line-height: 1.6em;
	font-weight: 400;
	
	@media (max-width: 30em) {
		font-size:1.4em;
	}
	
	@media screen and (min-width: 48em) and (max-width: 71.25em) {
		font-size: 1em;
	}
	
	@media screen and (min-width: 2560px) and (orientation: landscape) {
		font-size:2em;
	}
}


a {
	color:#fdfdfd;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		color:rgb(242, 208, 169);
	}
}

h1 {
	font-family: 'Spectral', Georgia, serif;
	font-display: swap;
	font-size: 2.5em;
	line-height: 1.4em;
	text-transform: uppercase;
	font-weight: 800;
	color:$text-color;
	
	@media (max-width: 30em) {
		font-size:2em;
		line-height: 1em;
	}
}

h2 {
	font-family: "Spectral", Georgia, serif;
	font-display: swap;
	font-size: 2.2em;
	line-height: 1.4em;
	text-transform: uppercase;
	font-weight: 500;
	color:#fdfdfd;
	
	@media screen and (min-width: 48em) and (max-width: 71.25em) {
		font-size:1.8em;
	}
	
	@media screen and (min-width: 2560px) and (orientation: landscape) {
		font-size:4em;
	}
}

h3 {
	font-family: "Spectral", Georgia, serif;
	font-display: swap;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: 700;
	
	@media (max-width: 30em) {
		font-size:1.4em;
	}
}
