/* ********************

Diaporama

******************** */
.diaporama {
    position: relative;
    height: 110vh;
    margin: 0 auto;
    
    .diaporama__slide {
        display:inline-block;
        height:110vh;
        position: absolute;
        min-width: 100%;
        max-width: 1200px;
        margin:0;
        transition: all 2s;
    }
    
    .diaporama__slide + figure {
        opacity: 0;
    }
}

.diaporama__slide h2 {
    color: $text-color;
}

.diaporama__slide:nth-of-type(1n) {
    background-color: #00EAB5;
}

.diaporama__slide:nth-of-type(2n) {
    background: rgb(242, 208, 169);
}

.diaporama__slide:nth-of-type(3n) {
    background: rgb(255, 163, 165);
    /* color: #FCE4EC; */
}

.diaporama__slide:nth-of-type(4n) {
    background: rgb(217, 219, 241);
    /* color: #FCE4EC; */
}
