$text-color: #355070;
$title-color: #514E53;
$border-color: #e4e4e4;
$station-color: #454545;
$accent-color: #9700f1;
$error-color: #f15e5e;
$background-color: #00EAB5;
$main-font-size: 1.2em;
$font-family-base: Verdana, Helvetica, sans-serif;